<div
  class="w-full flex items-center justify-center gap-3 border-3 border-blue-500 bg-blue-500/20 text-blue-200 py-4 px-6 rounded-xl text-lg font-semibold transition-all duration-300"
  [ngClass]="{
    'hover:scale-[1.01] hover:shadow-lg hover:bg-blue-500/30 active:scale-[0.98]': !formOpen(),
    'bg-blue-500/30': formOpen(),
  }"
  (click)="formOpen.set(true)"
>
  @if (formOpen()) {
    <section clickStopPropagation class="w-full">
      <div class="flex w-full">
        <div class="grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-4 w-1/2 pr-5">
          @for (file of filesModel(); track file.name) {
            <div
              class="w-full h-full aspect-square object-cover rounded-xl bg-sky-400/10 flex items-center justify-center relative"
            >
              <img
                class="w-full rounded-xl"
                [src]="apiUrl + '/uploads/' + file.id + '.' + file.ext"
              />

              <button
                matMiniFab
                class="-top-2.5 -right-2.5 bg-red-400/80! text-red-100/80!"
                (click)="removeFile(file)"
                style="position: absolute"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          }

          @for (_ of Array.from({ length: Math.max(6 - filesModel().length, 1) }); track $index) {
            <div
              (click)="fileUploadRef.click()"
              class="w-full h-full! aspect-square object-cover rounded-xl bg-sky-400/20 hover:bg-sky-400/30 flex items-center justify-center cursor-pointer"
            >
              <mat-icon>camera_alt</mat-icon>
            </div>
          }
          <input
            #fileUploadRef
            type="file"
            class="hidden"
            (change)="uploadAttachments($event)"
            multiple
          />
        </div>

        <div class="flex flex-col gap-2 w-1/2">
          <h1 class="mb-4">
            @if (editedItem()?.id) {
              Edytuj przedmiot
            } @else {
              Dodaj przedmiot
            }
          </h1>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Nazwa</mat-label>
            <input [formField]="itemForm.name" matInput />
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Opis</mat-label>
            <textarea [formField]="itemForm.description" rows="4" matInput></textarea>
          </mat-form-field>

          <div class="flex justify-end w-full">
            <button class="mr-3" matButton="tonal" (click)="formOpen.set(false)">Zamknij</button>
            <button [disabled]="!itemModel().name" matButton="filled" (click)="save()">
              Zapisz
            </button>
          </div>
        </div>
      </div>
    </section>
  } @else {
    <mat-icon class="text-blue-500! w-[unset]! h-[unset]! text-8xl!">add</mat-icon>
  }
</div>
